extends ../layout/index
block contenido
     main.container.mt-5
          .row
               .col-md-5
                    img(src="img/nosotros.jpg", alt="Imagen de nosotros", class="img-fluid")
               .col-md-7
                    h1 #{pagina}
                    blockquote It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
                    p All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
     .listado-iconos
          .container.mt-5.py-5.text-center
               .row
                    .col-md-4
                         img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                         h2.mb-4 Seguridad
                         p The generated Lorem Ipsum is therefore always free from repetition, injected humour
                    .col-md-4
                         img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                         h2.mb-4 Mejores destinos
                         p The generated Lorem Ipsum is therefore always free from repetition, injected humour
                    .col-md-4
                         img(src="img/icono_precios.svg", class="img-fluid mb-4")
                         h2.mb-4 Mejor precio
                         p The generated Lorem Ipsum is therefore always free from repetition, injected humour
     